/*
 * media.css
*/

/* 屏幕可视窗口尺寸小于'720'像素的设备 */
@media screen and (max-width: 720px) {
    * {
        margin: 0;
        padding: 0;
    }

    /* body {} */

    .header {
        height: 100vh;
    }

    /* .content {} */

    .content-list {
        display: block;
        width: 80%;
    }

    .shuoshuo {
        width: 95%;
    }

    .sidebar {
        float: none;
        width: 95%;
        padding-left: 0;
        padding-top: 16px;
    }

    /* .sidebar>.sidebar-item:is(:first-child) {} */

    .sidebar-item img {
        width: 60%;
    }

    /* .footer {} */

    /* .footer-info {} */

    .footer-info img {
        width: 12%
    }

    .footer-item {
        width: max-content;
    }

    .footer-item-title {
        font-size: 10px;
    }

    .footer-item ul li a {
        font-size: 8px;
    }
}