/*
 * media.css
*/

/* 屏幕可视窗口尺寸小于'720'像素的设备 */
@media screen and (max-width: 720px) {
    * {
        margin: 0;
        padding: 0;
    }

    /* body {} */

    /*
     * header
    */

    .header {
        display: block;
    }

    .navigation {
        display: block;
    }

    .navigation .home {
        width: 100%;
        margin: 6px auto;
        text-align: center;
    }

    .navigation .daohanglan {
        width: 80%;
        margin: 0 auto;
        justify-content: center;
    }

    /*
     * content
    */

    .content {
        margin: 40px auto 20px;
    }

    .content-list img {
        width: 30%;
    }

    /*
     * footer
    */

    footer {
        position: relative;
    }

    .footer-info {
        justify-content: space-between;
        /* margin: 6px auto 0; */
    }
}