/*
 * media.css
*/

/* 屏幕可视窗口尺寸小于'720'像素的设备 */
@media screen and (max-width: 720px) {
    * {
        margin: 0;
        padding: 0;
    }

    /* body {} */

    /*
     * header
    */

    /* .header {} */

    .navigation {
        display: block;
        height: 60px;
        margin: auto 0;
    }

    .navigation .home {
        width: 100%;
        margin: 6px auto;
        text-align: center;
    }

    .navigation .daohanglan {
        width: 80%;
        margin: 0 auto;
        justify-content: center;
    }

    /*
     * content
    */

    .first-content-list .avatar img {
        width: 40%;
    }

    /*
     * footer
    */

    footer {
        position: absolute;
    }
}