/*
 * style.css
*/

/*
 * --------------- General --------------- *
*/

:root {
    --card-box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.05);
    --card-hover-box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.09);
    --site-background-color: #f4f4f4;
    --card-background-color: #fff;
    --footer-background-color: #fffefa;
}

/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "阿里妈妈数黑体";
    font-weight: 700;
    src: url("//at.alicdn.com/wf/webfont/On4DRzNbpJ8p/CS1KhJkjei06BLRbX0RsW.woff2") format("woff2"),
        url("//at.alicdn.com/wf/webfont/On4DRzNbpJ8p/Irxj-W913ycPdMdYzTiEG.woff") format("woff");
    font-display: swap;
}

/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "阿里巴巴普惠体";
    font-weight: 600;
    src: url("//at.alicdn.com/wf/webfont/jHAN59XAcw7A/wAsNbh1oEATtAXdWqu00i.woff2") format("woff2"),
        url("//at.alicdn.com/wf/webfont/jHAN59XAcw7A/MzCJI3CjOxLL0yTVuljIW.woff") format("woff");
    font-display: swap;
}

.icon {
    width: 2.6em;
    height: 2.6em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

/* 把我们所有标签的内外边距清零 */
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    font-family: '阿里妈妈数黑体', Arial, Helvetica, sans-serif;
    background-color: var(--site-background-color);
}

/*
 * --------------- Header --------------- *
*/

header {
    /* line-height: 56px; */
    width: 100%;
    transition: all .5s;
    background-color: #1f2233;
    /* display: block; */
    /* font-size: 1em; */
    /* justify-content: space-evenly; */
    height: 100vh;
}

.navigation {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-evenly;
    transition: all .5s;
    opacity: 1;
    /* background-color: #17548f5c; */
    filter: none;
}

/* .home {} */

.home a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    /* font-weight: 700; */
    letter-spacing: 2.4px;
}

.daohanglan {
    display: flex;
}

.daohanglan ul {
    list-style-type: none;
}

/* .daohanglan ul:hover {} */

.daohanglan ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 1.66px;
}

.navigation>.daohanglan>ul:not(:first-child) {
    margin-left: 15px;
}

.site-info {
    width: 100%;
    text-align: center;
    top: 43%;
    position: absolute;
}

#search-box {
    width: 100%;
    margin: 20px auto 0;
    font-size: 14px;
    text-align: center;
}

#search-box input {
    width: 310px;
    border: 1px solid #e2e2e2;
    height: 32px;
    /* background-image: url(images/search.jpg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 5px center; */
    padding: 0 0 0 10px;
    border-radius: 10px;
}

#scroll-down {
    bottom: 20px;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 10px;
    animation: scroll-down-effects 6s linear infinite;
    clear: both;
    height: 60px;
}

@keyframes scroll-down-effects {
    0% {
        bottom: 0;
        opacity: .4
    }

    50% {
        bottom: -16px;
        opacity: 1;
        -ms-filter: none;
        filter: none
    }

    100% {
        bottom: 0;
        opacity: .4
    }
}

/*
 * --------------- Content --------------- *
*/

.content {
    margin: 0 auto 20px;
    /* width: 100%; */
    background-color: var(--card-background-color);
}

/* .content:hover {} */

.content-list {
    width: 100%;
    text-align: center;
}

.content>.content-list:not(:first-child) {
    margin-top: 20px;
}

/*
 * --------------- Footer --------------- *
*/

footer {
    bottom: 0;
    line-height: 1.8;
    width: 100%;
    clear: both;
    position: relative;
    /* border-top: 1.8px solid #4a4035; */
    /* display: block; */
    /* padding: 40px 0 120px 0; */
}

.footer-group {
    display: flex;
    background-color: var(--footer-background-color);
    height: 50px;
    align-items: center;
    padding-left: 10px;
    flex-wrap: wrap;
}

/*
 * Dark mode
*/

@media screen and (prefers-color-scheme: dark) {
    /* .header a {} */

    .content {
        color: #fff;
    }
}