/*
 * style.css
*/

/*
 * --------------- General --------------- *
*/

:root {
    --card-box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.05);
    --card-hover-box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.09);
}

/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "阿里妈妈数黑体";
    font-weight: 700;
    src: url("//at.alicdn.com/wf/webfont/On4DRzNbpJ8p/CS1KhJkjei06BLRbX0RsW.woff2") format("woff2"),
        url("//at.alicdn.com/wf/webfont/On4DRzNbpJ8p/Irxj-W913ycPdMdYzTiEG.woff") format("woff");
    font-display: swap;
}

/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "阿里巴巴普惠体";
    font-weight: 600;
    src: url("//at.alicdn.com/wf/webfont/jHAN59XAcw7A/wAsNbh1oEATtAXdWqu00i.woff2") format("woff2"),
        url("//at.alicdn.com/wf/webfont/jHAN59XAcw7A/MzCJI3CjOxLL0yTVuljIW.woff") format("woff");
    font-display: swap;
}

.iconfont {
    font-size: 20px !important;
}

/* 把我们所有标签的内外边距清零 */
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    font-family: '阿里巴巴普惠体', Arial, Helvetica, sans-serif;
}

/*
 * --------------- Header --------------- *
*/

header {
    line-height: 56px;
    width: 100%;
    transition: all .5s;
    background-color: #1f2233;
    display: flex;
    font-size: 1em;
    justify-content: space-evenly;
}

header a {
    text-decoration: none;
    color: #fff;
}

header .daohanglan {
    display: flex;
    justify-content: space-between;
}

header .daohanglan ul {
    list-style-type: none;
}

header .daohanglan ul:hover {
    background-color: gray;
}

header .daohanglan ul li a {
    color: #fff;
    text-decoration: none;
}

header>.daohanglan>ul:not(:first-child) {
    margin-left: 15px;
}

/*
 * --------------- Content --------------- *
*/

.content {
    margin: 10px auto 20px;
    width: 80%;
}

/* .content:hover {} */

/* .content-list {} */

.content>.content-list:not(:first-child) {
    margin-top: 20px;
}

.content-list img {
    width: 10%;
    border-radius: 100%;
    animation: avatar-effects 12s linear infinite;
}

.content-list img:hover {
    animation-play-state: paused;
}

@keyframes avatar-effects {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*
 * --------------- Footer --------------- *
*/

footer {
    bottom: 0;
    line-height: 1.8;
    width: 100%;
    clear: both;
    position: relative;
    border-top: 1.8px solid #4a4035;
    display: block;
    background-color: #f5f7fa;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-flow: row wrap;
    width: 100%;
    max-width: 1200px;
    margin: 10px auto 0;
    padding: 0 1rem;
}

footer>.footer-info:not(:first-child) {
    margin-top: 20px;
}

/*
 *
*/

.footer-info-group {
    min-width: 120px;
}

.footer-info-group ul {
    list-style-type: none;
}

.footer-info-group ul li a {
    text-decoration: none;
}

/*
 * title
*/

.footer-info-title {
    font-weight: 500;
}

/*
 *
*/

.footer-info-item {
    display: flex;
    justify-content: space-evenly;
}

.footer-info-item ul {
    list-style-type: none;
}

.footer-info-item ul li a {
    text-decoration: none;
    color: #1f2233;
}

.footer-info-item>ul:not(:first-child) {
    margin-left: 5px;
}

/*
 * Dark mode
*/

@media screen and (prefers-color-scheme: dark) {
    /* .header a {} */

    .content {
        color: #fff;
    }
}