/*
 * style.css
*/

/*
 * --------------- General --------------- *
*/

:root {
    --card-box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.05);
    --card-hover-box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.09);
    --footer-text-color: #bbb;
    --card--background-color: #fff;
    --site-background-color: #f4f4f4;
}

@font-face {
    font-family: 'ZhuZiAYuanJWD';
    src: url('/src/ZhuZiAYuanJWD.ttf');
}

/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "仓耳渔阳体";
    font-weight: 400;
    src: url("//at.alicdn.com/wf/webfont/jHAN59XAcw7A/Fi4RDPOLg63NXJkvMVl_X.woff2") format("woff2"),
        url("//at.alicdn.com/wf/webfont/jHAN59XAcw7A/Rv46fC6QtkfsmhCJwnJ8H.woff") format("woff");
    font-display: swap;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    margin: 0 4px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* font-family: '仓耳渔阳体'; */
    background-color: var(--site-background-color);
}

/*
 * Header
*/

.header {
    height: 100vh;
    background: linear-gradient(to bottom right, #eae5c9 0%, #6cc6cb 100%);
}

.header-menu {
    transition: all .5s;
    font-size: 20px;
    margin: 0px auto;
    width: 80%;
    display: flex;
    height: 40px;
    border-radius: 10px;
    justify-content: space-between;
    padding: 15px;
    box-shadow: var(--card-box-shadow);
    background-color: rgb(238, 236, 236);
}

.header-menu:hover {
    box-shadow: var(--card-hover-box-shadow);
}

.navagation-bar {
    display: flex;
}

.navagation-bar ul {
    list-style-type: none;
}

.navagation-bar ul li a {
    text-decoration: none;
    margin: 5px 10px;
    color: var(--header-text-color);
}

.info {
    width: 40%;
    margin: 10% auto;
    text-align: center;
    line-height: 2.0;
    font-size: 24px;
    color: var(--header-text-color);
    display: block;
}

/* .avatar {} */

.avatar img {
    width: 14%;
    border-radius: 100%;
}

/* .descr {} */

/* #scrolldown {
    margin: 2px auto;
    bottom: 0;
    width: 10px;
    cursor: pointer;
    position: relative;
} */

/*
 * content
*/

.content {
    line-height: 2;
    /* padding-top: 8px; */
    margin: 10px;
}

/* .content:hover {} */

.content-list {
    transition: all .5s;
    text-align: center;
    /* margin: 10px auto; */
    /* height: 800px; */
    height: max-content;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

/*
 *footer
*/

.footer {
    bottom: 0;
    line-height: 2;
    /* position: relative; */
    /* display: block; */
    border-top: 1px solid #000;
    margin: 0 auto;
    width: 90%;
    /* padding-top: 2px auto 0; */
}

.footer-info {
    display: flex;
    margin: 5px auto;
    width: max-content;
}

.footer-item {
    height: max-content;
    width: 180px;
    display: block;
}

.footer-item-title {
    font-weight: bolder;
    font-size: 18px;
    /* font-family: '仓耳渔阳体', 'Courier New', Courier, monospace, sans-serif; */
}

.footer-item ul {
    list-style-type: none;
}

.footer-item ul li a {
    text-decoration: none;
    font-size: 15px;
    color: #000;
}

.social a {
    text-decoration: none;
}